html{ min-width: 1000px; overflow-x: hidden; }
.scrollov{ overflow: hidden; }
body,ul,ol,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0 auto;padding:0;border:0; color:#949494;}
body{background:#fff;margin-top:0px;font-family:"microsoft Yahei","Arial Narrow";cursor: default;box-sizing:border-box;font-size: 14px;}
h1,h2,h3,h4,h5,h6,em{font-style: normal;font-weight: normal;}
ul,ol{list-style-type:none;}
select,input,img,select,textarea,button{border:0;background: none;}
a{text-decoration:none;color:#949494;outline: none; }
a:link,a:active{
	text-decoration:none;
	outline: none;
}
.clear{
	clear:both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.main{
	width: 1200px;
	margin:0 auto;
}
.banner {
	width: 100%;
	height: 480px;
	background: url(../images/banner.jpg) no-repeat top center;
}
.nav{
	height: 68px;
}
.container{
	margin: 10px 0px;
}
.con-title p{
	color: #015d76;
	font-size: 28px;
	margin:10px auto;
	margin-top: 40px;
	/*width:700px;*/
	text-align: center;
}
.nav-logo{
	width: 150px;
	float: left;
	margin-left: 40px;
	margin-top: 22px;
}

.program-div{
	float: left;
	margin-top: 10px;
	margin-right: 50px;
	width: 340px;
	height: 600px;
}
.mini-program{
	width: 1200px;
	height: 600px;
	margin-top: 39px;
}
.con-code{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}